body{
	background: white;
}

/* Fonts */
.serif{
	font-family: 'Cormorant SC', serif;
}

.sans-serif{
	font-family: 'Josefin Sans', sans-serif;
}

.cursive{
	font-family: 'Great Vibes', cursive;
}

ul{
	margin-bottom: 40px;
	text-align: center;
}

ul li{
	margin-right: 10px;
	margin-left: 10px;
}

ul li a{
	text-decoration: none;
}

ul li a:hover{
	text-decoration: none;
}

img#logo_aurorachi{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height:30px;
	align-items: center;
}

/* Navigation Bar */
.navbar .navbar-nav{
	display: inline-block;
	float:none;
	vertical-align: top;
	text-align:center;
}

.navbar .navbar-collapse{
	text-align:center;
}


/* Carousel */

.btnCarousel{
	border-radius: 0!important; 
	border-color:white!important; 
	background-color: transparent!important; 
	text-shadow: 1px 1px 0.5px #777777!important; 
	box-shadow: 2px 2px 2px #777777!important;
}

.btnCarousel:hover{
	border-color:black!important;
	background-color: black!important;
}

.slide1{
	background-color: cyan;
	height:500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; 
}

.slide2{
	background-color: pink;
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slide3{
	background-color: orange;
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#theCarousel{
	margin-bottom: 40px;
}

.carousel-caption h1{
	font-size: 4.5em;
	font-family: 'Pacifico', cursive;
	padding-bottom: 0.4em;
}

.carousel-caption p{
	font-size: 1.5em;
}


/* Thumbnail */
h3{
	margin-top: 10px!important;
}

#newjewellery{
	margin-top: 40px;
	margin-bottom: 40px;
}

#newjewellerytitle{
	margin-bottom: 30px!important;
	text-align: center!important;
	text-decoration: none!important;
	font-size: 20;
}


#newjewellerytitle a:hover{
	text-decoration: none!important;
	opacity:0.6!important;
}

.caption{
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

.btnjewellery{
	border-radius: 0!important; 
	border-color:black!important; 
	color: black!important; 
	background-color: transparent!important;
}

.btnjewellery:hover{
	border-color:white!important; 
	color: white!important; 
	background-color: black!important;
}

.row .thumbnail {
    border:none;
    box-shadow:none;
    border-radius:0;
    -webkit-box-sizing: border-none;
	-moz-box-sizing: border-none;
	box-sizing: border-none;
	background-color: transparent;
}

.thumbnail{
	display: block;
	background-color: transparent;
}

img{
	margin:0px;
}


/* Footer */
footer{
	background-color: white;
	text-align: center;
}	

.contactDetails{
	text-decoration: none!important;
	color:black!important;
}

.contactDetails:hover{
	text-decoration: none!important;
	opacity:0.6!important;
}
