html, body{
	height:100%;
}

body{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center!important;
	overflow: hidden;
	background-image: url('defy.jpg')!important;
}

.container{
	padding:0;
}

img{
	display: block;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height:27px;
	align-items: center;
}

.content{
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}


.banner{
	background-color: transparent;
	width:100%;
	padding:0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: block;
}

.bannerTitle{
	color:white;
	text-align: center;
	padding: 7.5px;
	border:2px solid white;
	display: block;
	margin-right: 90px;
	margin-left: 90px;
}

.bannerTitle:hover{
	opacity: 0.7;
}

/* Text Styling */
a{
	text-decoration: none!important;

}

a:hover{
	text-decoration: none!important;
}

.sans-serif{
	font-family: 'Josefin Sans', sans-serif;
}