body{
	background: white;
}

/* Fonts */
.serif{
	font-family: 'Cormorant SC', serif;
}

.sans-serif{
	font-family: 'Josefin Sans', sans-serif;
}

.cursive{
	font-family: 'Great Vibes', cursive;
}

ul{
	margin-bottom: 40px;
	text-align: center;
}

ul li{
	margin-right: 10px;
	margin-left: 10px;
}

ul li a{
	text-decoration: none;
}

ul li a:hover{
	text-decoration: none;
}

img#logo_aurorachi{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height:25px;
	align-items: center;
}

/* Navigation Bar */
.navbar .navbar-nav{
	display: inline-block;
	float:none;
	vertical-align: top;
	text-align:center;
}

.navbar .navbar-collapse{
	text-align:center;
}

img{
	margin:0px;
}

/* Content */
.content{
	margin-left:50px!important;
	margin-right:50px!important;
}

.banner{
	/*background-image: url('defy.jpg')!important;*/
	height: 200px!important;
	margin-bottom:40px!important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bannerTitle{
	color:white;
	text-align: center;
	padding: 7.5px;
	border:2px solid white;
}

.first_content{
	/*background-image: url('defy.jpg')!important;*/
	background: white;
	height: 400px!important;
	margin-bottom:40px!important;
	position: relative!important;
	width: 100%!important;
	padding: 0!important;
}


/* Footer */
footer{
	background-color: white;
	text-align: center;
}

.contactDetails{
	text-decoration: none!important;
	color:black!important;
	margin-top: 40px;
}

.contactDetails:hover{
	text-decoration: none!important;
	opacity:0.6!important;
}