body{
	background: white;
}

/* Fonts */
.serif{
	font-family: 'Cormorant SC', serif;
}

.sans-serif{
	font-family: 'Josefin Sans', sans-serif;
}

.cursive{
	font-family: 'Great Vibes', cursive;
}

ul{
	margin-bottom: 40px;
	text-align: center;
}

ul li{
	margin-right: 10px;
	margin-left: 10px;
}

ul li a{
	text-decoration: none;
}

ul li a:hover{
	text-decoration: none;
}

img#logo_aurorachi{
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height:70px;
	align-items: center;
}


/* Navigation Bar */
.page-header{
	border-bottom: none!important; 
	padding-bottom: 0!important; 
	margin-bottom: 0!important; 
	margin-top:20px!important;
}

.navbar .navbar-nav{
	display: inline-block;
	float:none;
	vertical-align: top;
	text-align:center;
}

.navbar .navbar-collapse{
	text-align:center;
	margin-bottom: 40px;
}

.navbar.navbar-default{
	margin-left:20px!important;
	margin-right:20px!important;
}

img{
	margin:0px;
}

/* Content */
.container{
	padding-left: 0; 
	padding-right: 0;
}

.row .content{
	overflow-y: none!important;
}

.content{
	margin-left:10px!important;
	margin-right:10px!important;
}

.banner{
	background-image: url('defy.jpg')!important;
	height: 200px!important;
	margin-bottom:40px!important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video{
	position:relative;
	padding-bottom:56.25%;
}

.video .videoDefy{
	position:absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}

/* Footer */
footer{
	background-color: white;
	text-align: center;
	margin-top: 100px ;
	position : relative;
    bottom : 0;
}

.copyright{
	font-size: 10px; 
	margin-top: 5px; 
	margin-bottom: 5px;"
}

.email{
	padding-top:2px; 
	padding-bottom: 2px
}

.instagram{
	color: black;
	padding-top:2px; 
	padding-bottom: 2px;
}

.instagram a img{
	height: 25px; 
	width: 25px;
}