html, body{
	background: white;
	overflow-x: none;
}

/* Fonts */
.serif{
	font-family: 'Cormorant SC', serif;
}

.sans-serif{
	font-family: 'Josefin Sans', sans-serif;
}

.cursive{
	font-family: 'Great Vibes', cursive;
}

ul{
	margin-bottom: 40px;
	text-align: center;
}

ul li{
	margin-right: 10px;
	margin-left: 10px;
}

ul li a{
	text-decoration: none;
}

ul li a:hover{
	text-decoration: none;
}

img#logo_aurorachi{
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height:70px;
	align-items: center;
}

.parag{
	text-align: center; 
	padding-top: 70px; 
	padding-bottom: 70px
}

/* Navigation Bar */
.page-header{
	border-bottom: none!important; 
	padding-bottom: 0!important; 
	margin-bottom: 0!important; 
	margin-top:20px!important;
}

.navbar .navbar-nav{
	display: inline-block;
	float:none;
	vertical-align: top;
	text-align:center;
}

.navbar .navbar-collapse{
	text-align:center;
	margin-bottom: 40px;
}

.navbar.navbar-default{
	margin-left:20px!important;
	margin-right:20px!important;
}


img{
	margin:0px;
}


/* Content */
.container{
	padding-left: 0; 
	padding-right: 0;
}

.row .content{
	overflow-y: none!important;
}

.content{
	margin-left:10px!important;
	margin-right:10px!important;
}

.banner{
	background-image: url('defy.jpg')!important;
	height: 200px!important;
	margin-bottom:40px!important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bannerTitle{
	color:white;
	text-align: center;
	padding: 7.5px;
	border:2px solid white;
}

.row .thumbnail {
    border:none;
    box-shadow:none;
    border-radius:0;
    -webkit-box-sizing: border-none;
	-moz-box-sizing: border-none;
	box-sizing: border-none;
	background-color: transparent;
}

.thumbnail{
	display: block;
	background-color: transparent;
	position: relative!important;
	margin:0!important;
	padding: 10px!important;
}

/*@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%)!important;
  }
  100% {
    transform: translateY(0)!important;
  }
}

#img1{
	animation: 1s ease-out 0s 1 slideInFromBottom;
}*/


.img-responsive{
	background-color: transparent;
	max-width: 100%;
	margin: 0!important;
	z-index: 100;
}

.frame{
	overflow: hidden;
}

.zoomin{
	-webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

.zoomin:hover{
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2); 
	-ms-transform: scale(1.2); 
	transform: scale(1.2); 
}

/* Footer */
footer{
	background-color: white;
	text-align: center;
	margin-top: 100px ;
	position : relative;
    bottom : 0;
}

.copyright{
	font-size: 10px; 
	margin-top: 5px; 
	margin-bottom: 5px;"
}

.email{
	padding-top:2px; 
	padding-bottom: 2px
}

.instagram{
	color: black;
	padding-top:2px; 
	padding-bottom: 2px;
}

.instagram a img{
	height: 25px; 
	width: 25px;
}